<a href="https://colab.research.google.com/github/ZachA-D/Beginner_python_project/blob/main/working_with_Python_lists_Medical_Insurance_Costs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists with Medical Insurance Costs

In this project, we will be sorting through medical insurance cost data for some patients. Using our knowledge of Python lists we will store the medical data and see what insights we can gain from said data.

**1. Exploring List Data**

Lets take a look at the two lists that are posted below. "names" stores the names of 10 individuals and "insurance costs" stores their medical insurance costs

In [17]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]

Let's add some additional information to the list:


*   Add "Priscilla" to "names
*   Add her insurance cost, 8320.0, to "insurance costs".

In [16]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]
names.append("Priscilla")
insurance_costs.append(8320.0)

Right now, the "names" and "insurance_costs" lists are seperate, but we need the costs to be paired with the name. To combine them, we need to use the .zip function. We will name the .zip list "medical_records".

In [1]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]
names.append("Priscilla")
insurance_costs.append(8320.0)
medical_records = list(zip(names, insurance_costs))
print(medical_records)

[('Mohamed', 13262.0), ('Sara', 4816.0), ('Xia', 6839.0), ('Paul', 5054.0), ('Valentina', 14724.0), ('Jide', 5360.0), ('Aaron', 7640.0), ('Emily', 6072.0), ('Nikita', 2750.0), ('Paul', 12064.0), ('Priscilla', 8320.0)]

The list looks good! now let's explore the medical data.

We would like to see how many medical records we're dealing with. to do this we will use the len() function to calculate the length of the medical records and call this variable "num_medical_records".

In [2]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]
names.append("Priscilla")
insurance_costs.append(8320.0)
medical_records = list(zip(names, insurance_costs))
num_medical_records = len(medical_records)
print(num_medical_records)

11

Looks like we have 11 records total. Now, lets create a message that would be easy for everyone to read.

In [3]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]
names.append("Priscilla")
insurance_costs.append(8320.0)
medical_records = list(zip(names, insurance_costs))
num_medical_records = len(medical_records)
message = f"There are {num_medical_records} medical records in the list."
print(message)

There are 11 medical records in the list.

Looks like the name "Paul" is mentioned more than once, let's count how many times "Paul" is mentioned in the list.

In [19]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]
names.append("Priscilla")
insurance_costs.append(8320.0)
medical_records = list(zip(names, insurance_costs))
num_medical_records = len(medical_records)
message = f"There are {num_medical_records} medical records in the list."
paul_count = names.count("Paul")
print("Paul is mentioned " + str(paul_count) + " times.")

Paul is mentioned 2 times.

**2. Selecting Specific List Elements**

Let's take a look at the first record from "medical_records" and save it as "first_medical_record". Then we'll print a statement so everyone can know what the first record is.

In [5]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]
names.append("Priscilla")
insurance_costs.append(8320.0)
medical_records = list(zip(names, insurance_costs))
first_medical_record = medical_records[0]
print("here is the first medical record: ", first_medical_record)

here is the first medical record:  ('Mohamed', 13262.0)

**3. Sorting Lists**

Let's clean this data up a bit by sorting our records by sorting the individuals from lowest insurance costs to highest insurance costs, once we're done, we'll print a message that will be easy for shareholders to read.

In [10]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]
names.append("Priscilla")
insurance_costs.append(8320.0)
medical_records = list(zip(names, insurance_costs))
medical_records.sort(key=lambda x: x[1])
print("Here are the insurance costs in ascending order: " + str(medical_records))

Here are the insurance costs in ascending order: [('Nikita', 2750.0), ('Sara', 4816.0), ('Paul', 5054.0), ('Jide', 5360.0), ('Emily', 6072.0), ('Xia', 6839.0), ('Aaron', 7640.0), ('Priscilla', 8320.0), ('Paul', 12064.0), ('Mohamed', 13262.0), ('Valentina', 14724.0)]

Here's the same list, but in descending order:

In [12]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]
names.append("Priscilla")
insurance_costs.append(8320.0)
medical_records = list(zip(names, insurance_costs))
medical_records.sort(key=lambda x: x[1], reverse=True)
print("Here are the insurance costs in descending order: " + str(medical_records))

Here are the insurance costs in descending order: [('Valentina', 14724.0), ('Mohamed', 13262.0), ('Paul', 12064.0), ('Priscilla', 8320.0), ('Aaron', 7640.0), ('Xia', 6839.0), ('Emily', 6072.0), ('Jide', 5360.0), ('Paul', 5054.0), ('Sara', 4816.0), ('Nikita', 2750.0)]

**4. Slicing Lists**

We need to take a look at the three cheapest insurance costs in our records. For this, we will slice the "medical_records" list and store the three cheapest insurance costs and call the list "cheapest_three". Once defined, let's create a message for our shareholders to read.

In [14]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]
names.append("Priscilla")
insurance_costs.append(8320.0)
medical_records = list(zip(names, insurance_costs))
medical_records.sort(key=lambda x: x[1])
cheapest_three = medical_records[0:3]
print("Here are the three cheapest insurance costs in our medical records: "+ str(cheapest_three))

Here are the three cheapest insurance costs in our medical records: [('Nikita', 2750.0), ('Sara', 4816.0), ('Paul', 5054.0)]

Looks great! now let's do the same thing but for the three most expensive records in our list.

In [15]:
names = ["Mohamed", "Sara", "Xia", "Paul", "Valentina", "Jide", "Aaron", "Emily", "Nikita", "Paul"]
insurance_costs = [13262.0, 4816.0, 6839.0, 5054.0, 14724.0, 5360.0, 7640.0, 6072.0, 2750.0, 12064.0]
names.append("Priscilla")
insurance_costs.append(8320.0)
medical_records = list(zip(names, insurance_costs))
medical_records.sort(key=lambda x: x[1])
most_expensive_three = medical_records[-3:]
print("Here are the three most expensive insurance costs in our medical records: "+ str(most_expensive_three))

Here are the three most expensive insurance costs in our medical records: [('Paul', 12064.0), ('Mohamed', 13262.0), ('Valentina', 14724.0)]

Fantastic! This was a fun project, thank you for reading my work, have a good day!